@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

*{
  user-select: none;
}img{
  width: auto;
}
.starry-text{
  font-family: "Butterfly Kids", cursive;
  font-weight: 800;
  font-size: 3rem;
  /* font-style: bold; */
  padding: 10%;
  text-shadow: 0 0 15px #2e6779;
}
.chat{ 
 /* background-image: url('pavanstarry.jpeg'); 
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);  */
  overflow-y: auto;
  /* overflow-x: hidden; */
  /* background-color:#1d3646; */
  /* min-height: fit-content; */
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin: 4.6rem 0 0 0;  
  /* 3.9rem */
  /* padding-bottom: 3.9rem; */
  /* bottom: 3.9rem; */
  /* display: flex; */
  /* max-height: 70vh; */
  /* z-index: 1; */
}
.banana {
  /* height: 3.9rem; */
  width: 100%;
  /* position: fixed; */
  display: block;
  /* bottom: 0; */
 margin: 0;
 padding: 0;
 background-color: pink;
}
.xpara{
  background-color: green;
  margin: 0%;
}
/* .banana{
  display: block;
  height: 5px;
  width: 100%;
  color:#2979ff;
} */

nav{
  display: flex;
  justify-content: space-between;
}
.linkss{
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.in_links{
  margin-top: 1.3rem;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.in_links a{
  color: white;
  text-decoration: none;
}
.homepgbg{
  background: #000000;
  height: 100vh;
  color: #ffffff;
}
.homepg{color: #ffffff;
  /* justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.starry-img{
  display: flex; flex-direction: row; align-items: center; justify-content: center;
}
.logo{
  top:0;
  position: fixed;
  background-color: black;
  /* backdrop-filter: blur(5px); */
  width: 100%;
  opacity: 100;
  z-index: 2;
}
.send-msg{
  position: fixed;
  bottom: 0;
  align-items: center;
justify-content: center;
  display: flex;
  width: 100%;
  /* background-color: #000000; */
}
 
 .msg-feild{
  color: whitesmoke;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid  #1d2e39;
  border-radius: 50px;
  background-color: #000000;
  font-size: 16px;
  /* color: #333; */
  outline: none;
  transition: 0.2s;
}
.msg-feild:focus {
  border: 3px solid #0c2536;
}
.send{
  width:max-content;
  box-sizing: border-box;
  border-radius: 50px;
  border: 3px solid #0c2536;
  height: 5%;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: none;
  outline: none;
}
.message {
  text-align: left;
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 8px;
  min-width: 8%;
  max-width: 70%; /* Adjust as needed */
}
.justify-start{
  align-self: flex-start;
  background-color: #1d3646;
  max-width: 45%;
  color: whitesmoke;
}
.justify-end{
  background-color:#203c4e; /*#497c9c*/
  align-self: flex-end;
  max-width: 45%;
  color: whitesmoke;
}
/* .justify-end #text{
  padding-right: 5px;
} */
.msgtimestamp{
  display: block;
  text-align: right;
  font-size: .8rem;
  font-weight:475;
  opacity: 50%;
}
.logo-bg-images{
   height: 100%;
   width: 100%;
   /* display: flex; */
   z-index: -1;
}
::-webkit-scrollbar {
  display: none;
}
.notinloc{
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: "Courier Prime", monospace;
  font-weight: lighter;
  font-size:1.1rem;
  margin-right: 1rem;
}
.notinloc p{
  margin:0;
}
.notinloc h2{
  margin: 0 0 5px 0;
}
.notinloc h3{
  margin: 0px 0 5px 0;
}
.geekgod{
  height: 60dvh;
}
.geekgod_mobile{
  display: none;
}
.tape{
  position: absolute;
  /* bottom: 0; */
  right: 4rem;
  height: 20vh;
}
.footerr{
 top: 100;
}
.chat-wrapper{
display: block;
}
/* chat-anony button */
.chat-anony {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#1d3646,#66857e,#26515c,#66857e,#a19374,#66857e);
  background-size: 250%;
  background-position: left;
  color: #387281;
  font: size 2rem;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.chat-anony::before {
  position: absolute;
  content: "Chat Anonymously";
  color: #356d7b;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.chat-anony:hover {
  background-position: right;
  transition-duration: 1s;
}

.chat-anony:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.chat-anony:active {
  transform: scale(0.95);
}

.agree-div{
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}
.styled-checkbox:checked {
  background: radial-gradient(circle, rgba(162,140,92,1) 12%, rgba(37,79,90,1) 81%) !important;
}
.styled-checkbox {
  width: fit-content !important;
  margin: 8px 4px !important;
  border: 2px solid #254f5a !important;
  /* background-color: rgb(212, 0, 0) !important; */
  appearance: none; 
  height: 1rem;
  width:1rem !important;
  background-color: #2a4f58  !important;
  border-radius: 2px !important;
}
.checkmark {
  position: absolute;
  height: 1rem;
  width:1rem !important;
  background-color: #eee;
}
body{
  background-color:#000000;
  scroll-behavior: smooth;  /* background-color: #102b3c63; */
   
}
.thunder{
  position: absolute;
height: 100px;
width: 100px;
z-index: 100;
display: flex;
align-items: center;
justify-content: center;
padding-top:  75px; 

}
.thunder-img{
  /* animation-iteration-count: 8; */
  height: 200%;
  animation:blink 3s ease-in-out 2;
  /* object-fit:cover; */
}
@keyframes blink {
  0%{opacity:0;}
  20%{opacity:.5;}
  40%{opacity:1;}
  80%{opacity:0;}
  100%{opacity:1}
}

.aga-logo{
  height: 6rem;
}
.starry-img{
  height:60dvh;
}
.check-alert{
  height:max-content;
  width: max-content;
  border-radius: 10px;
  border: 3px solid #254f5a;
  bottom: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  color: #254f5a;
  background-color: rgba(0, 0, 0, 0.842);
  /* display: flex; */
  position: fixed;
  margin: 0 1rem 1rem 0;
  font-weight: bold;
  text-align: center;
  /* transform: translate(-50%, -50%) scale(0); */
  /* transition: opacity 0.5s ease; */
  animation: alertuser 3s ease-in-out 1;
}
 @keyframes alertuser {
  0%{opacity:0;}
  10%{opacity: 1;}
  90%{opacity: 1;}
  100%{opacity: 0;}
  
 }
/* .check-alert.active{
  transform: translate(-50%, -50%) scale(1);
} */
 .check-alert p{
  justify-content: space-around;
  margin: 10px;
  /* padding: 0 0 0 5px; */
  align-items: center;
 }
  /* small screens */
  .starry-text-mobile{
    display: none;
  }
.Mainn{
  color: #2979ff;
  
}
 
.display_username{
  text-align: left;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.yes{
  display:block;
}
.no{
  display: none;
}










   
@media only screen and (max-width: 600px) {
  .aga-logo{
    height: 3rem;
  }
  .starry-img{
    height:35dvh;
  }
  .starry-text{
    font-family: "Butterfly Kids", cursive;
  font-weight: 800;
  font-size: 1rem;
  /* font-style: bold; */
  padding:2%;
  text-shadow: 0 0 15px #2e6779;
  }
  .thunder-img{
    height: 100%;
    animation:blink 3s ease-in-out 2;
  }
  .thunder{
    padding-top: 40px;
  }
  .starry-text{
    display: none;
  }
  .starry-text-mobile{
    font-family: "Butterfly Kids", cursive;
  font-weight: 800;
  font-size: 2rem;
  text-shadow: 0 0 15px #2e6779;
  display: block;
  margin:1rem 0 0 0;
  }
  .check-alert{
    height: max-content;
    width: 30dvb;
    font-size: .8rem;
  }
  .check-alert p{
    margin: 2px;
  }
  .chat{
    width: 100%;
  }
  .message {
     max-width: 80%;  
  }
  .geekgod{
    display: none;
  }
  .geekgod_mobile{
    display: block;
    height: 60vh;
    /* align-items: center;
    justify-content: space-around; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .notinloc-msg{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1rem 1rem 1rem;
  }
  .notinloc-li{
    text-align: left;
  }
  .tape{
    display: none;}
    .msg-feild{
      width: 80%;
    }
    .justify-end{
      margin-right: 7px;
    }
    .justify-start{
      margin-left: 7px;
    }
  }